
[重构到模式-Command Pattern]银行ATM机服务功能
现在的银行ATM机，除了提供查询余额、存钱、取钱等服务外，还可以提供交水费、电费、燃气费等各种服务。
用您熟悉的编程语言、TDD和Command设计模式，实现一个银行ATM机的下述服务功能：

1）查询余额（check balance）

2）存钱（deposit）

3）取钱（withdraw）

4）居民用电卡购电（假设每度电2元）（electricity card, RMB 2 per unit）

测试用例提示：

1）查询余额：0元

2）存入1000元，查询余额：1000元

3）取出300元，查询余额：700元

4）购电100度，查询余额：500元，电卡新增100度电

------------------------------------

原创文章，转载请注明出处, 谢谢。本文地址：http://blog.csdn.net/wubinben28/article/details/9886727
